{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if request.session.token %}
    <a href="{% url 'profile'%}">Vai al profilo</a>
    <a href="{% url 'logout'%}?next={%url 'index'%}">logout</a>
{% else %}
    <a href="{% url 'login'%}?next={%url 'index'%}">Log in</a><br><a href="{% url 'register' %}?next={%url 'index'%}">Register</a><br><p>Come ospite è possibile solamente vedere i risultati</p>
{% endif %}
{% if latest_poll_list %}
    <h1>sondaggi</h1>
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="{% url request.session.token|yesno:'detail,results' poll.id%}">{{ poll.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h1>No polls are available.</h1>
{% endif %}